<div class="row">
<div class="col-md-12 text-light bg-primary">
  <div class ="vh-100 d-flex flex-column justify-content-center text-center">
    <h1>Bienvenue sur l'application Metro</h1>
  
    <h3>
      L'application métier des contrôles de métrologie légale.
    </h3>
  <div>
    <%= link_to "Connectez-vous", login_path, class: "btn btn-lg btn-outline-light mt-3 mr-3" %> <%= link_to "Créer un nouveau compte", signup_path, class: "btn btn-lg btn-outline-light mt-3" %>
  </div>
  </div>
</div>
</div>