<tr>
  <td><%=link_to "#{controle.date}",controle_path(controle.id)%></a></td>
  <td><%= controle.detenteur.name %></td>
  <td><%= Adress.find(controle.adress_id).label if !!controle.adress_id %> </td>
  <td><%= controle.user.name %></td>
  <td><%= nombre_instruments(controle) %>
  </td>
</tr>
