<div class ="container-fluid form">
  <h3 align="left">Renseignez les données du contrôle</h3>
    <%= simple_form_for @controle do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="form-group form-inline">
      <%= f.input :date,label: "Date du contrôle ", input_html: { 'data-provide': 'datepicker', value: @controle.date }, :as => :string %> 
      &emsp; réalisé par : &ensp; <%= f.collection_select :user_id, User.all, :id, :name, {:prompt => 'Choisir un utilisateur'}, class: "form-control" %>
      </div>
  
      <div class="form-group">
      <%= f.label :detenteur, "Detenteur :  "%> <%= f.collection_select :detenteur_id, Detenteur.all, :id, :name, {:prompt => 'Choisir un détenteur'}, class: "form-control" %> 
      <%= link_to "Nouveau détenteur", new_detenteur_path %>
      </div>
      
      <%= f.hidden_field :adress_id %>
      <%= f.label :adress_label, "Adresse :" %>
      <%= f.autocomplete_field :adress_label, autocomplete_adress_label_controles_path, :id_element => '#controle_adress_id', 'data-noMatchesLabel' => "Aucune adresse trouvée", :class => "form-control"%>
      <%= link_to "Ajouter une adresse à la base de données", new_adress_path %>
      <script>
      $('#controle_adress_label').bind('railsAutocomplete.select', function(event, data){
      if (data.item.value == "Aucune adresse trouvée") {
                    location.href = "/adresses/new/?origin=new_controle_path"
                  }
      });    
      </script>

      <div id='instruments'>
      <h3>Instruments : </h3>
        <%= f.simple_fields_for :instruments do |instru| %>
          <%= render 'instrument_fields', :f => instru %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Ajouter', f, :instruments, class: "btn btn-success" %>
        </div>

      </div>  
       
      <br>
      <%= f.submit "#{button_name}", class: "btn btn-primary" %> <%= link_to("Supprimer",controle_path, method: :delete, data: { confirm: "Etes-vous sûr ?" }, class: "btn btn-secondary") if params[:action]=='edit'  %>
      </div>
    <% end %>
</div>