<div class='nested-fields'>
  <div class="form-group" >
    
      <div class="row">
        <%= f.collection_select :categorie_id, Categorie.all, :id, :name, {:prompt => 'Choisir une catégorie'}, class: "form-control" %>
        <%= f.simple_fields_for :details do |d| %>
      </div>
        <%= f.hidden_field :detenteur_id, input_html: {value: @controle.detenteur_id }%>
      <div class="row">
        
        <div class="col md-4">
          <div class="row">
            <div class="col"> <%= d.input :marque,label: "Marque : ", wrap_with: { tag: 'p', class: 'form-inline' } %> </div>
            <div class="col">  <%= d.input :type, label: "Type : ",item_wrapper: {tag: 'p'}, input_html: {class: 'form-inline'}, label_html: { class: 'form-inline' } %> </div>
            <div class="col"><%= d.input :numserie, label: "N° série : " %></div>

            <div class="col"><%= f.input :dernierevp, label: "Date VP : ", input_html: { 'data-provide': 'datepicker' } %></div>
          </div>
          <div class="row"><%= f.input :carnetmetro, label: "Présence carnet métrologique", as: :boolean %></div>
        </div>
        
        <div class="col md-6">
          <div bordered> <p><strong>Sanction </strong></p>
          <div class="form-inline">
          <%= f.input :accepte, label: "Accepté", as: :boolean, class: "custom-checkbox" %> 
           
          <%= f.input :avertissement, label: "Avertissement", as: :boolean %> 
          <%= f.input :pvp, label: "Avis de PV pénal", as: :boolean %> 
          <%= f.input :pva, label: "Avis de PV administratif", as: :boolean %> 
          <%= f.input :scelles, label: "Mise sous scellés", as: :boolean %>  
          </div>
          <%= f.input :motif, label: "Motif:  " %>
          <div align="right"><%= link_to_remove_association "Supprimer", f, class:"btn btn-secondary" %></div>
        </div></div>
        
      </div>
  </div>
    <% end %> 
</div>