<div class="row">
  <div class="col" align="left">
    <h2 class="pt-3 pb-3">Contrôles réalisés</h2>
  </div>
  <div class="col" align="right">
    <%= link_to('Nouveau contrôle', controles_path, class:"btn btn-primary mt-3", method: :post)%>
  </div>
</div>



<table class="table table-striped" id="controles-datatable" data-source="<%= controles_path(format: :json) %>">
        <thead>
          <tr>
            <th>Date</th>
            <th>Détenteur</th>
            <th>Lieu</th>
            <th>Agent de contrôle</th>
            <th>Instruments controlés</th>
          </tr>
        </thead>
      <tbody>
      </tbody>
      
</table>