<% provide(:title, "Connection") %>

<div class="row d-flex justify-content-center">
  <h1 class="mt-3">Connection</h1>
</div>
<div class="row">
<div class="col-md-12 d-flex justify-content-center">
  <div>
  
  </div>
  
  <div>
    
      <%= form_for(:session, url: login_path) do |f| %>
  
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password, "Mot de passe" %>
        <%= link_to "(oublié ?)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Se souvenir de moi sur cet ordinateur</span>
          <% end %>
          
        <%= f.submit "Connection", class: "btn btn-primary mt-2" %>
        
  
  
      <% end %>
  
      <p>Nouvel utilisateur? <%= link_to "Créer un compte maintenant !", signup_path %></p>
  
  </div>
</div>
</div>