<%= simple_form_for :request, :url => {:action => "choice"} do |f| %>
  <%= f.collection_select :categorie_id, Categorie.all, :id, :name %><br>
  <%= f.submit "Valider", class: "btn btn-primary" %> <%= link_to 'Afficher tous les instruments', '/cartes/instruments', class: 'btn btn-primary' %>
<% end %>