<% provide(:title, "Edit user") %>
<h1>Mettez à jour votre profil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">Modifier le gravatar</a>
    </div>
  </div>
</div>