<div class="center jumbotron text-light bg-primary" align="center">
    <h1>Bienvenue sur l'application Metro</h1>
  
    <h3>
      L'application métier des contrôles de métrologie légale.
    </h3>
  
    <%= link_to "Connectez-vous", login_path, class: "btn btn-lg btn-outline-light ml-3 mt-3" %> <%= link_to "Créer un nouveau compte", signup_path, class: "btn btn-lg btn-outline-light mt-3" %>
</div>