<table class="table table-striped" id="instruments-reporting">
        <thead>
          <tr>
            <th>Catégorie d'instruments</th>
            <th>Nombre d'instruments contrôlés</th>
            <th>Nombre de sites contrôlés</th>
            <th>Instruments refusés</th>
            <th>Nombre d'avertissements écrits</th>
            <th>Nombre de PV pénaux</th>
            <th>Nombre de PV Amendes administratives</th>
            <th>Nombre de saisies</th>
            <th>Nombre de jours agents consacrés</th>
          </tr>
        </thead>
      <tbody>
        <% @data.each do |l| %>
          <tr><% l.each do |e| %>
            <td><%= e %> </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
</table>