<%= simple_form_for :adress, :url => {:action => "search"}, html:{method:'POST'} do |f|  %>
<%= f.input :label, size: 20 %>
<%= f.input :postcode %>
<%= f.input :city %>
<%= f.submit "Rechercher", class: "btn btn-primary" %>
<% end %>