<div class="row">
  <div class="col-md-4">
  <h2>Résultats :</h2>
  <%= simple_form_for :adress, :url => {:action => "create"} do |f| %>
  <%= f.collection_radio_buttons(:attributes, @adresses, :last, :first, item_wrapper_tag: :div) %>
  <%= f.submit "Valider", class: "btn btn-primary" %>  <%= link_to "Nouvelle recherche",new_adress_path, class: "btn btn-primary" %>
  <% end %>
  </div>
  <div class="col-md-8">
    <h2>Carte</h2>
    <%= map( 
          :center => {:latlng => [50,0], :zoom => 18}, 
          :markers => @markers, :fitbounds => @bounds) %>
  </div>
</div>


