<!-- on affiche les coordonées uniquement si elles existent, sinon on affiche les résultats de la recherche -->
<% if @rich %>
  <h2>Modifier l'adresse</h2>
  <%= simple_form_for @adress, :url => {:action => "update"} do |f|  %>
      <%= f.input :label, input_html: { value: @adress.label }, size: 20 %>
      <%= f.input :postcode, input_html: { value: @adress.postcode } %> <%= f.input :city, input_html: { value: @adress.city }  %>
      <%= f.input :context, input_html: {value: @adress.context} %>
      <%= f.input :lat, input_html: { value: @adress.lat } %>, <%= f.input :long, input_html: { value: @adress.long } %>
      <%= f.submit "Modifier", class: "btn btn-primary" %>
  <% end %>
    
  <% else %>
<div class="row">
  <div class="col-md-4">
  <h2>Enrichir l'adresse en se basant sur l'adresse suivante : </h2>
  <%= simple_form_for @adress, :url => {:action => "update"} do |f|  %>
    <%= f.collection_radio_buttons(:attributes, @adresses, :last, :first, item_wrapper_tag: :div) %>
    <%= f.submit "Modifier", class: "btn btn-primary" %>
  <% end %>
  </div>
  <div class="col-md-8">
    <h2>Carte</h2>
    <%= map(  :center => {:latlng => [50,0], :zoom => 18}, 
          :markers => @markers, :fitbounds => @bounds) %>
  </div>
</div>

  
<% end %>

<%= map(
  :center => { :latlng => [@adress.lat, @adress.long], :zoom => 18 },
  :markers => [{:latlng => [@adress.lat,@adress.long],}]  
  ) if !!@adress.lat && !!@adress.long %>

