<div class="row">
  <div class="col md-6">
  <h2>Adresse</h2>  
  <p><strong>Label :</strong> <%= @adress.label %> </p>
  <p><strong>Code postal :</strong> <%= @adress.citycode %> Ville : <%= @adress.city %></p>
  <p><strong>Géolocalisation :</strong>  Lat : <%= @adress.lat if !!@adress.lat %> Long : <%= @adress.long if !!@adress.long %> </p>  
  <%= link_to "Modifier l'adresse", edit_adress_path(@adress) %> <%= link_to "Supprimer l'adresse", @adress, method: :delete, data: { confirm: "Etes-vous sûr ?" } %>
  </div>
  <div class="col md-6">
  
  <%= map(
    :center => { :latlng => [@adress.lat, @adress.long], :zoom => 18 },
    :markers => [{:latlng => [@adress.lat,@adress.long],}]  
    ) if !!@adress.lat && !!@adress.long %>
 
  </div>

</div>