<div class='nested-fields'>
  <div class="form-group" >
    
      <div class="row">
        <%= f.collection_select :categorie_id, Categorie.all, :id, :name, {:prompt => 'Choisir une catégorie'}, class: "form-control" %>
        <%= f.simple_fields_for :details do |d| %>
        <%= f.input :detenteur_id, input_html: {value: @controle.detenteur.id }, :as => :hidden %>
      </div>
        
      <div class="row"> 
        
        <div class="card-body d-flex flex-column align-items-start">
        	<h4 class="card-title text-primary">Détails de l'instrument</h4>
        	<%= d.input :marque,label: "Marque : ", wrap_with: { tag: 'p', class: 'form-inline' } %>
        	<%= d.input :type, label: "Type : ",item_wrapper: {tag: 'p'}, input_html: {class: 'form-inline'}, label_html: { class: 'form-inline' } %>
          <%= d.input :numserie, label: "N° série : " %>
        </div>
        
        
        <div class="card-body d-flex flex-column align-items-start">
        	<h4 class="card-title text-primary">Données métrologiques</h4>
        	<%= f.input :dernierevp, label: "Date VP : ", input_html: { 'data-provide': 'datepicker' } %>
        	<%= f.input :carnetmetro, label: "Présence carnet métrologique", as: :boolean %>
        	
        </div>
        
        <div class="card-body d-flex flex-column align-items-start">
        	<h4 class="card-title text-primary">Sanction </h4>
        	<%= f.input :accepte, label: "Accepté", as: :boolean, class: "custom-checkbox" %> 
          <%= f.input :avertissement, label: "Avertissement", as: :boolean %> 
          <%= f.input :pvp, label: "Avis de PV pénal", as: :boolean %> *
          <%= f.input :pva, label: "Avis de PV administratif", as: :boolean %> 
          <%= f.input :scelles, label: "Mise sous scellés", as: :boolean %> 
          <%= f.input :motif, label: "Motif:  " %>
        </div>
      </div>
      

  </div>
  <div align="right"><%= link_to_remove_association "Supprimer", f, class:"btn btn-secondary" %></div>
  <% end %> 
</div>