<% if !@results["total_pages"].nil? %>
<div> 
  <ul id="pager" class="pagination">
    <li class="page-item <%= "disabled" if @results["page"] == "1" %>">
      <a class="page-link" href=<%= wizard_path+"?page=#{@results["page"].to_i-1}" %> aria-label="Previous">
        <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
        </a>
    </li>
    
    <li class="page-item <%= "active" if @results["page"] == "1" %>"><%= link_to "1", wizard_path+"?page=1", class: "page-link" %></li>
    <% noprev = true, nonext = true %>
    <% for p in 2..(@results["total_pages"]-1) do %>
      <% if (p <= (@results["page"].to_i - 2)) %>
        <% if nonext && noprev %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% noprev = false %>
        <% end %>
      <% else %>
        <% if (p >= (@results["page"].to_i + 2)) %>
          <% if (nonext && !noprev) || (nonext && noprev) %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% nonext = false %>
          <% end %>
        <% else %>
          <li class="page-item <%= "active" if @results["page"] == p.to_s %>"><%= link_to p, wizard_path+"?page=#{p}", class: "page-link" %></li>
        <% end %>
      <% end %>
    <% end %>
    
    <% if @results ["total_pages"].to_i > 1 %>
    <li class="page-item <%= "active" if @results["page"] == @results["total_pages"] %>"><%= link_to @results["total_pages"], wizard_path+"?page=#{@results["total_pages"]}", class: "page-link" %></li>
    <% end %>
    
    <li class="page-item <%= "disabled" if @results["page"].to_i == @results["total_pages"] %>">
      <a class="page-link" href=<%= wizard_path+"?page=#{@results["page"].to_i+1}" %> aria-label="Next"><span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
      </a>
    </li>
    
  </ul>
</div>
<% end %>

