<div class ="container-fluid form">
<h2>Adresse du contrôle - Etape 2/3 </h2>
<div class="row">
  <div class="col-md-4">
    
    
  <%= simple_form_for :adress, method: :put, url: wizard_path do |f| %>
  <%= f.label "Même adresse que le détenteur : " %> 
  <%= f.input :choixadressedetenteur, label: @adressedetenteur.label, as: :boolean, checked_value: true, unchecked_value: false, wrapper_tag: :b %>
  
  <%= f.hidden_field :adress_id %>
  <%= f.label :adress_label, "ou recherchez une autre adresse pour le contrôle : " %>
  <%= f.autocomplete_field :adress_label, autocomplete_adress_label_controles_path, :id_element => '#adress_adress_id', 'data-noMatchesLabel' => "Aucune adresse trouvée - cliquer sur étape suivante pour ajouter une adresse à la base de données", :class => "form-control"%>
  
  
  </div>
  <div class="col-md-8">
    <h2>Carte</h2>
    <%= map( 
          :center => {:latlng => [50,0], :zoom => 18}, 
          :markers => @markers, :fitbounds => generate_bounds_from_markers(@markers)) %>
  </div>
</div>

</div>
<%= link_to "Etape Précédente",previous_wizard_path, class: "btn btn-secondary" %> <%= f.submit "Etape suivante", class: "btn btn-success" %>
<% end %>


