<div class="container border-primary rounded pb-5">
<div class="row">
<div class="col-md-12" align="center">
      <h2 class="mb-4">Date du contrôle - Etape 1/3</h2>
      
      <%= simple_form_for @controle, method: :put, url: wizard_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group row">
                        <%= f.label :date, "Date du contrôle", class: "col-md-2 col-form-label form-control-label"  %>
                        <%= f.input :date, label: false, input_html: { 'data-provide': 'datepicker', value: @controle.date, "style": "relative" }, :as => :string, class: "form-control col-md-4" %> 
                        <%= f.label :collection_select, "Réalisé par", class:"col-md-2 col-form-label form-control-label" %>
                        <%= f.collection_select :user_id, User.all, :id, :name, {:prompt => 'Choisir un utilisateur'}, class: "form-control col-md-4" %>
            </div>
            <div class="row">
                  <div class="col-md-4 offset-md-4">
                  <%= f.submit 'Etape suivante', class:"btn btn-success" %>
                  </div>
            </div>
      <% end %>
      
</div>
</div>

