<div class ="container-fluid form">
  <h2>Sélectionner le détenteur</h2>
  
  
  
  <div class="row">
    <div class="col-md-6">
    <%= simple_form_for @form, method: :put, url: wizard_path do |f| %>

      <%= f.collection_radio_buttons( :choix, @values, :last, :first, item_wrapper_tag: :div,  input_html: { class: "panel panel-default"} ) %>

    </div>
    <div class="col-md-6">
    <%= map(:markers => @markers, :fitbounds => generate_bounds_from_markers(@markers)) %>
    
    
    <div>
      <% if !@results["total_results"].nil? %>
      <strong>nombre total de résultats  : <%= "#{@results["total_results"]}" %> </strong>
        <div><%= render 'pagination' %></div>
      <%end %>
    </div> 

    <div class="pt-3">
      <%= link_to 'Etape précédente', previous_wizard_path, class:"btn btn-secondary" %> 
      <%= f.submit "Etape suivante", class: "btn btn-success" %>
    </div>
    
    </div>
    
  </div>

    <% end %>
</div>