<div class ="container-fluid form">
<h2>Renseignez les instruments concernés par le contrôle - Etape 3/3</h2>
    <%= simple_form_for @controle, method: :put, url: wizard_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div id='instruments'>
      <h3>Instruments : </h3>
        <%= f.simple_fields_for :instruments do |instru| %>
          <%= render 'instrument_fields', :f => instru %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Ajouter', f, :instruments, class: "btn btn-success" %>
        </div>

      </div>  
       
      <br>

      <%= link_to 'Etape précédente', previous_wizard_path, class:"btn btn-secondary" %> <%= f.submit 'Etape suivante', class:"btn btn-success" %>
    <% end %>
</div>

