<% render 'controles/controle_resume' %>
<div class ="container-fluid form">
  <h4>Contrôle réalisé le <%= @controle.date %> par <%= @controle.user.name %> </h4>
  
  <div class = "row">
    <div class="card-body d-flex flex-column align-items-start">
  	<h4 class="card-title text-primary">Détenteur</h4>
    <p><b><%= @controle.detenteur.name %></b></p>
    <p><%= Adress.find(@controle.detenteur.adress_id).label %></p>
    </div>
    
    <div class="card-body d-flex flex-column align-items-start">
  	<h4 class="card-title text-primary">Adresse du contrôle</h4>
    <p><%= Adress.find(@controle.adress_id).label %></p>
    </div>
  </div>

  <h4>Instruments contrôlés</h4>

  
  <div class ="row ml-2 mr-2">
    <% @controle.instruments.each do |i| %>
    
    <div class="card-body  bg-white border rounded "style="width: 18rem;">
      <h5 class="card-title text-primary"><%= i.categorie.name %></h5>
       <p><b>marque : </b><%= i.details["marque"] %>, <b>type: </b> <%= i.details["type"] %>, <b>n°:</b> <%= i.details["numserie"] %></p>
       <p><b>dernière VP : </b><%= i.dernierevp %>, <b>carnet metro:</b> <%= if i.carnetmetro then "oui" else "non" end %></p>
       <p><b>Accepté : </b><%= if i.accepte then "oui" else "non" end %></p>
    </div>
    <% end %>
  </div>
  

</div>