<div class ="container-fluid form">
<h2 class="mt-3">Recherchez le détenteur - Etape 2/3 </h2>
<%= simple_form_for @form, method: :put, url: wizard_path do |f| %>

      <%= f.input :requete,label: "Dénomination détenteur : ", :as => :string, input_hml: {required: true} %> 
      


<div>
<p class="mt-3">
        De nombreuses options sont exploitables pour trouver exactement ce
        dont vous avez besoin. Vous pouvez vous référer au tableau suivant :
      </p>
      <table class="table">
            <thead ><tr ><th >Filtrage désiré</th><th >Paramètre requête</th><th >Valeur du paramètre</th></tr></thead>
            <tbody ><tr ><td >Activité principale de l’entreprise (code NAF)</td><td ><code >activite_principale</code></td><td >Le code `activité principale` désiré</td></tr><tr ><td >Code Postal</td><td ><code >code_postal</code></td><td >Le code postal désiré</td></tr><tr ><td >Code commune INSEE</td><td ><code >code_commune</code></td><td >Le code INSEE de la commune désiré</td></tr><tr ><td >Departement</td><td ><code >departement</code></td><td >Le numéro de département à 2 chiffres désiré</td></tr><tr ><td >Appartenance au champs de l’économie sociale et solidaire</td><td ><code >is_ess</code></td><td >`O` pour Oui, `N` pour Non, `I` pour Invalide</td></tr><tr ><td >Entreprises individuelles</td><td ><code >is_entrepreneur_individuel</code></td><td >`yes` pour Oui, `no` pour Non</td></tr><tr ><td >Tranche Salariés</td><td ><code >tranche_effectif_salarie_entreprise</code></td><td >le code INSEE pour cette tranche d'effectif salarié</td></tr></tbody></table>
            
      <p>
      Par exemple la requete pourra s'écrire : <code>boulanger?departement=69</code> pour trouver les boulangers du Rhône.
      </p>
      <p>La recherche du détenteur est basée sur les fonctionnalités de l'API SIRENE proposée par <a href="https://entreprise.data.gouv.fr/">entreprise.data.gouv.fr.</a> 
      Vous trouverez plus d'infos sur la façon de construire la requète <a href="https://entreprise.data.gouv.fr/api_doc_sirene">ici.</a></p>
      </div>

      <%= link_to 'Etape précédente', previous_wizard_path, class:"btn btn-secondary" %>  <%= f.submit 'Etape suivante', class:"btn btn-success" %>
</div>      



<% end %>