      <%= f.hidden_field :adress_id %>
      <%= f.label :adress_label, "Adresse :" %>
      <%= f.autocomplete_field :adress_label, autocomplete_adress_label_controles_path, :id_element => '#controle_adress_id', 'data-noMatchesLabel' => "Aucune adresse trouvée - cliquer sur étape suivante pour ajouter une adresse à la base de données", :class => "form-control"%>