<div class ="container-fluid form">
<h2>Vérification de l'adresse - Etape 2/3 </h2>
<div class="row">
  <div class="col-md-4">
  <%= simple_form_for :adress, method: :put, url: wizard_path do |f| %>
  <%= f.collection_radio_buttons(:attributes, @adresses, :last, :first, item_wrapper_tag: :div) %>
  
  </div>
  <div class="col-md-8">
    <h2>Carte</h2>
    <%= map( 
          :center => {:latlng => [50,0], :zoom => 18}, 
          :markers => @markers, :fitbounds => generate_bounds_from_markers(@markers)) %>
  </div>
</div>

</div>
<%= link_to "Etape Précédente",previous_wizard_path, class: "btn btn-secondary" %> <%= f.submit "Etape suivante", class: "btn btn-success" %>
<% end %>


