<tr>
  <td><a href="/detenteurs/<%= detenteur.id %>"> <%= detenteur.name %> </a> </td>
  <td><%= detenteur.societe %></td>
  <td><%= detenteur.siren %> </td>
  <td><%= link_to(adress_for(detenteur).label, edit_adress_path(adress_for(detenteur))) if !!adress_for(detenteur) %></td>
</tr>
