<%= simple_form_for :search, :url => {:action => "search"} do |f| %>
     <%= f.input :name, label: "Recherche par nom" %>
     <%= f.input :siren, label: "Recherche par n° SIRET ou SIREN" %>
     <%= f.input :requete, label: "Recherche par requête INSEE directe" %><%= link_to 'accès à la documentation INSEE ici' , 'https://api.insee.fr/catalogue/site/themes/wso2/subthemes/insee/templates/api/documentation/download.jag?tenant=carbon.super&resourceUrl=/registry/resource/_system/governance/apimgt/applicationdata/provider/insee/Sirene/V3/documentation/files/INSEE%20Documentation%20API%20Sirene%20Services-V3.7%20et%20V3.8.pdf' %>
     
    <%= f.submit "Rechercher", class: "btn btn-primary"  %>
<% end %>