<h1>Modification du détenteur</h1>

<%= simple_form_for @detenteur do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
     <%= f.input :name, input_html: { value: @detenteur.name } %>
     <%= f.input :societe, input_html: { value: @detenteur.societe } %>
     <%= f.input :siren, input_html: { value: @detenteur.siren } %>
     
     Adresse : <%= adress_for(@detenteur).label %> <%= link_to "Modifier l'adresse",edit_adress_path(adress_for(@detenteur)), class: "btn btn-primary" %>
     <br>
     
    <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>   


    
