<h2 class="pt-3 pb-3">Détenteurs</h2>

<table class="table table-striped" id="detenteurs-datatable" data-source="<%= detenteurs_path(format: :json) %>">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Code APE</th>
            <th>Siren</th>
            <th>Adresse</th>
          </tr>
        </thead>
      <tbody>
      </tbody>
</table>