<% if !!@result %>
<h2>Résultats :</h2> <br>

  <%if !!@result["uniteLegale"] %>
    Le siren n° <%= @result["uniteLegale"]["siren"] %> a été trouvé et il a : <%= @result["uniteLegale"]["periodesUniteLegale"].length %> établissements.
  <% end%>
  
  <% if !!@result["etablissements"] | !!@result["etablissement"] %>
    <div>
    <%= simple_form_for :etablissement, :url => {:action => "validate"} do |f| %>
    <%= f.collection_radio_buttons(:valeur, @values, :last, :first, item_wrapper_tag: :div ) %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>
    </div>
    
  <% end %>
<% end %>
