<div class="row">
  <div class="col">
  <h2>Détenteur : </h2>
  <p><strong>Nom :</strong> <%= @detenteur.name %></p>
  <p><strong>Société :</strong> <%= @detenteur.societe %></p>
  <p><strong>Siren :</strong> <%= @detenteur.siren %></p>
  
  <% if !!adress_for(@detenteur) %>
  <p><strong>Adresse :</strong> <%= adress_for(@detenteur).label %></p>
  <%= map(
    :center => { :latlng => [adress_for(@detenteur).lat, adress_for(@detenteur).long], :zoom => 18 },
    :markers => [{:latlng => [adress_for(@detenteur).lat,adress_for(@detenteur).long],}]  
    ) if !!adress_for(@detenteur).lat && !!adress_for(@detenteur).long %>
  
  <% end %>
  <%= link_to "Modifier", edit_detenteur_path %> <%= link_to "Supprimer", @detenteur, method: :delete, data: { confirm: "Etes-vous sûr ?" } %>
  </div>
  <div class="col">
    <h2>Instruments du détenteur</h2>
    <% @instruments.each do |i| %>
    <p><%= Categorie.find(i.categorie_id).name %>, dernière visite : <%= Controle.find(i.controle_id).date %></p>
    <% end %>
  </div>
</div>