<%= simple_form_for :detenteur, :url => {:controller => "detenteurs", :action => "create"} do |f| %>
     <%= f.input :name, input_html: { value: @res["uniteLegale"]["denominationUniteLegale"] } %>
     <%= f.input :societe, input_html: {value: @res["uniteLegale"]["categorieJuridiqueUniteLegale"] } %>
     <%= f.input :siren, input_html: { value: @res["siren"] } %>
     Adresse :
     <%= f.input :housenumber, input_html:{value: @ad["numeroVoieEtablissement"]} %>
     <%= f.input :label, input_html:{value: "#{@ad["numeroVoieEtablissement"]} #{@ad["typeVoieEtablissement"]} #{@ad["libelleVoieEtablissement"]} #{@ad["codePostalEtablissement"]} #{@ad["libelleCommuneEtablissement"]}"} %>
     <%= f.input :city, input_html:{value: @ad["libelleCommuneEtablissement"]} %>
     <%= f.input :citycode, input_html:{value: @ad["codeCommuneEtablissement"]} %>
     <%= f.input :postcode, input_html:{value: @ad["codePostalEtablissement"]} %>
     <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %> 