/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require leaflet
*/
@import 'bootstrap';
//@import 'custom.scss';
@import 'fresca.scss';
@import "datatables";
@import 'jquerycss';

//Mise en page du layout
.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.main_container {
  //position: absolute;
  //top: 0;
  padding-top: 4rem;
  padding-bottom: 4.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem; /* Footer height */
  padding-top: 3px;
}

//Css Carte
#map {
  height: 600px;
  
}
#mapid{
    height: 400px;
    width: 400px;
    border: 3px solid #999999;
    border-color: blue;
}

//resultats de recherche
#result {
  border-style: solid;
}


//Css formulaire instruments
.nested-fields {
  background-color: white;
  border: 1px solid black;
  padding-top: 1rem;
  padding-bottom: -1rem;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-controle{
  padding-top: 0.5rem;
  border: 1px solid lightgrey;
  background: #F2F2F0;
  width: 80%;
}

.form-check-label{
  padding-right: 1rem;
}