<tr onclick="document.location='<%= instrument_path(instrument) %>'">
  <td><%= instrument.categorie.name %></td>
  <td><%= instrument.detenteur.name %> </td>
  <td><%= instrument.details.each do |i| "#{i[0]} : #{i[1]}" end %>
  <td><%= instrument.controle.date %></td>
  <td><%= Adress.find(instrument.controle.adress_id).label %></td>
</tr></a>
