<h1>Modifier l'instrument</h1>
<div class='nested-fields'>
  <%= simple_form_for @instrument do |f| %>
  <div class="form-group" >
    
      <div class="row">
        <%= f.collection_select :categorie_id, Categorie.all, :id, :name, {:prompt => 'Choisir une catégorie'}, class: "form-control" %>
        <%= f.simple_fields_for :details do |d| %>
      </div>
      <div class="row">
        <div class="col md-4">
          <div class="row">
            <div class="col"> <%= d.input :marque,label: "Marque : ", wrap_with: { tag: 'p', class: 'form-inline' },input_html: {value: @instrument.details["marque"]} %> </div>
            <div class="col">  <%= d.input :type, label: "Type : ",item_wrapper: {tag: 'p'}, input_html: {class: 'form-inline', value: @instrument.details["type"]}, label_html: { class: 'form-inline' } %> </div>
            <div class="col"><%= d.input :numserie, label: "N° série : ",input_html: {value: @instrument.details["numserie"]} %></div>
            
            
            <div class="col"><%= f.input :dernierevp, label: "Date VP : ", input_html: { 'data-provide': 'datepicker', value: @instrument.dernierevp } %></div>
          </div>
          <div class="row"><%= f.input :carnetmetro, label: "Présence carnet métrologique", as: :boolean,input_html: { :checked => !!@instrument.carnetmetro } %></div>
        </div>
        <div class="col md-6">
          <div bordered> <p><strong>Sanction </strong></p>
          <div class="form-inline">
          <%= f.input :accepte, label: "Accepté", as: :boolean, class: "custom-checkbox", input_html: { :checked => !!@instrument.accepte } %> 
          <%= f.input :refuse, label: "Refusé", as: :boolean, class: "custom-checkbox", input_html: { :checked => !@instrument.accepte } %> 
          <%= f.input :avertissement, label: "Avertissement", as: :boolean, input_html: { :checked => !!@instrument.avertissement } %> 
          <%= f.input :pvp, label: "Avis de PV pénal", as: :boolean, input_html: { :checked => !!@instrument.pvp } %> 
          <%= f.input :pva, label: "Avis de PV administratif", as: :boolean, input_html: { :checked => !!@instrument.pva } %> 
          <%= f.input :scelles, label: "Mise sous scellés", as: :boolean , input_html: { :checked => !!@instrument.scelles }%>  
          </div>
          <%= f.input :motif, label: "Motif:  ", input_html: {value: @instrument.motif} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col md-6" align="left">
        <%= f.submit "Modifier", class: "btn btn-primary" %>    
        </div>
        <div class="col md-6" align="right">
        <%= link_to "Supprimer",instrument_path, method: :delete, data: { confirm: "Etes-vous sûr ?" }, class:"btn btn-secondary" %></div>
        </div>
      </div>
  </div>
    <% end %> 
  <% end %>
</div>