<h2>Instruments</h2>

<table class="table table-striped" id="instruments-datatable" data-source="<%= instruments_path(format: :json) %>">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>Détenteur</th>
            <th>Dernier Contrôle</th>
            <th>Adresse du dernier contrôle</th>
            <th>Détails</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
      </tbody>
</table>