<h1>Nouvel instrument</h1>
<div class='nested-fields'>
  <%= simple_form_for @instrument do |f| %>
  <div class="form-group" >
    
      <div class="row">
        <%= f.collection_select :categorie_id, Categorie.all, :id, :name, {:prompt => 'Choisir une catégorie'}, class: "form-control" %>
        <%= f.simple_fields_for :details do |d| %>
      </div>
      <div class="row">
        <div class="col md-4">
          <div class="row">
            <div class="col"> <%= d.input :marque,label: "Marque : ", wrap_with: { tag: 'p', class: 'form-inline' } %> </div>
            <div class="col">  <%= d.input :type, label: "Type : ",item_wrapper: {tag: 'p'}, input_html: {class: 'form-inline'}, label_html: { class: 'form-inline' } %> </div>
            <div class="col"><%= d.input :numserie, label: "N° série : " %></div>
            <div class="col"><%= d.input :dernierevp, label: "Date VP : ", input_html: { 'data-provide': 'datepicker' } %></div>
          </div>
          <div class="row"><%= d.input :carnetmetro, label: "Présence carnet métrologique", as: :boolean %></div>
        </div>
        <div class="col md-6">
          <div bordered> <p><strong>Sanction </strong></p>
          <div class="form-inline">
          <%= d.input :accepte, label: "Accepté", as: :boolean, class: "custom-checkbox" %> 
          <%= d.input :refuse, label: "Refusé", as: :boolean %> 
          <%= d.input :avertissement, label: "Avertissement", as: :boolean %> 
          <%= d.input :pv, label: "Avis de PV", as: :boolean %> 
          <%= d.input :scelles, label: "Mise sous scellés", as: :boolean %>  
          </div>
          <%= d.input :motif, label: "Motif:  " %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col md-6" align="left">
        <%= f.submit "Valider", class: "btn btn-primary" %>    
        </div>
 
      </div>
  </div>
    <% end %> 
  <% end %>
</div>