  <!-- Navigation column on the left side -->
<nav class="bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <%= link_to "Controles", controles_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'controles' } " %>
        </li>
        <li class="nav-item">
          <%= link_to "Instruments", instruments_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'instruments' } " %>
        </li>
        <li class="nav-item">
          <%= link_to "Detenteurs", detenteurs_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'detenteurs' } " %>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-item">
          <%= link_to "Nouveau Controle", new_controle_path, class: "nav-link #{'active' if params[:action] == 'new' && params[:controller] == 'controles' } " %>
        </li>
      </ul>
</nav>
