<footer class="footer bg-primary text-light py-3">
    <div class="row">
      <div class="col ml-3">
        &copy 2019 - <a href= "mailto@loic.tournier@dieccte.gouv.fr" class="text-white">Loïc Tournier</a>
      </div>
      <div class="col mr-3" align="right">
            <%= link_to "A propos", about_path, class: "text-white" %>&emsp;<%= link_to "Contact", contact_path, class: "text-white" %>
      </div>
      </div>
</footer>