<header>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="navbar-brand">
          <!-- logo de l'appli -->
      <%= image_tag("logo2.png", class: "img-responsive", size: 40)%> &ensp;
      <%= link_to "Metro App", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <!-- Button lorsque l'écran est trop petit -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartarget"  aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>
    <div class="collapse navbar-collapse" id="navbartarget">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item"><%= link_to "Aide", help_path, class: "nav-link #{'active' if params[:action] == 'help'}" %></li>
        <% if logged_in? %>
            <li class="nav-item"><%= link_to "Utilisateurs", users_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'users' }" %></li>
            <li class="nav-item"><%= link_to "Détenteurs", detenteurs_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'detenteurs' }" %></li>
            <li class="nav-item"><%= link_to "Contrôles", controles_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'controles' }" %></li>
            <li class="nav-item"><%= link_to "Instruments", instruments_path, class: "nav-link #{'active' if params[:action] == 'index' && params[:controller] == 'instruments' }" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="cartesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cartes
              </a>
              <ul class="dropdown-menu" aria-labelledby="cartesDropdown">
                <li class="dropdown-item"><%= link_to "Instruments", cartes_instruments_path %></li>
                <li class="dropdown-item"><%= link_to "Détenteurs", cartes_detenteurs_path %></li>
                <li class="dropdown-item"><%= link_to "Contrôles", cartes_controles_path %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="reportingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reportings
              </a>
              <ul class="dropdown-menu" aria-labelledby="reportingDropdown">
                <li class="dropdown-item"><%= link_to "Instruments", reportings_instruments_path %></li>
                <li class="dropdown-item"><%= link_to "Taxis", reportings_taxis_path %></li>
                <li class="dropdown-item"><%= link_to "Temps agent", reportings_agents_path %></li>
                <li class="dropdown-item"><%= link_to "OCP", reportings_ocp_path %></li>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mon compte
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item"><%= link_to "Profile", current_user %></li>
                <li class="dropdown-item"><%= link_to "Paramètres", edit_user_path(current_user) %></li>
                <div class="dropdown-divider"></div>
                <li class="dropdown-item">
                  <%= link_to "Déconnexion", logout_path, method: :delete %>
                </li>
              </ul>
          </li>
          <% else %>
            <li class="nav-item"><%= link_to "Connexion", login_path, class: "nav-link" %></li>
          <% end %>
      </ul>
        
        
      </div>
    </nav>
</header>