<!DOCTYPE html>
<html>
<%= render 'layouts/rails_default' %>

<body>
    <div class = "page-wrapper">
    <%= render 'layouts/header' %>
    <main>
      <div class="main_container">
      <!-- Display errors messages -->
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <!-- Display page content -->
      <%= yield %>
      
      </div>
      
    </main>
    <%= render 'layouts/footer' %>
    
    <!-- #debug(params) if Rails.env.development? -->
    </div>

</body>
</html>
